{{ $attachments := slice }}

{{ with .Params.properties.photo }}
  {{ $arr := partial "must-slice" . }}
  {{ range $arr }}
    {{ $img := $.Page.Resources.GetMatch . -}}
    {{ with $img }}
      {{ $attachments = $attachments | append (dict "mediaType" $img.MediaType.String "type" "Image" "url" $img.Permalink "name" nil ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ with .Params.properties.video }}
  {{ $arr := partial "must-slice" . }}
  {{ range $arr }}
    {{ $video := $.Page.Resources.GetMatch . -}}
    {{ with $video }}
      {{ $attachments = $attachments | append (dict "mediaType" $video.MediaType.String "type" "Video" "url" $video.Permalink "name" nil ) }}
    {{ end }}
  {{ end }}
{{ end }}

{{- with .Params.pictures }}
{{- range . }}
  {{ $url := printf "https://cdn.hacdias.com/photos/t/%s-2000x.jpeg" .slug }}
  {{ $attachments = $attachments | append (dict "mediaType" "image/jpeg" "type" "Image" "url" $url "name" .title ) }}
{{- end }}
{{- end }}

{{ return $attachments }}
