{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}

<!-- Social Media -->
<meta property="og:url" content="{{ .Permalink }}" />
{{- with $img }}
  <meta name="twitter:card" content="summary_large_image"/>
  <meta property="og:image" content="{{ .Permalink }}" />
{{ else }}
  {{ if .IsHome -}}
    <meta name="twitter:card" content="summary"/>
    <meta property="og:image" content="https://hacdias.com/me-512.jpg" />
  {{ end }}
{{ end }}

<!-- Styles -->

  {{- $normalize := resources.Get "css/vendor/normalize.css" }}
  {{- $glitch := resources.Get "css/glitch.css" }}
  {{- $styles := resources.Get "css/styles.css" }}
  {{- $css := slice $normalize $glitch $styles | resources.Concat "css/styles.css" | resources.Minify }}
  <style>{{ $css.Content | safeCSS }}</style>


{{ if .Params.mermaid }}
  {{- $mermaid := resources.Get "js/vendor/mermaid.min.js" }}
  <script defer src="{{ $mermaid.RelPermalink }}?hash={{ md5 $mermaid.Content }}"></script>

  <script>
  document.addEventListener('DOMContentLoaded', () =>{
    mermaid.initialize({ theme: 'forest' })
    mermaid.init('.language-mermaid')
  })
  </script>
{{ end }}

