# Enables development model. That entails:
# - Request logging.
# - Template loading every request.
# - No git commit on save.
development: false
# The location of the Hugo's source.
sourceDirectory: /app/source
# The directory where the public files will be stored.
publicDirectory: /app/public
# The directory where Eagle will store some data.
dataDirectory: /app/data
# The port to listen on.
port: 8080
# The secret to protect JWT tokens.
tokensSecret: SecureSecret
# Optional GitHub (https://docs.github.com/) webhook secret to update the source repository.
webhookSecret: GitHub
# Turn on TOR Onion service (with Onion-Location header).
tor: true

# Login user configuration.
login:
  # The login username.
  username: johndoe
  # Encrypted password. Use 'eagle pwd' to generate the password.
  password: invalidSecret

# Enable support for comments. They are moderated through the same view as
# Webmentions, and stored in the same file. You need to add a form to your posts
# to submit a comment to the '/comments' endpoint.
comments:
  # Must be set to enable. Page to which to redirect users after commenting.
  redirect: /my-thank-you-page/
  # Case-insensitive "captcha" value for anti-spam verification. If not empty,
  # users will have to insert this value into a input field with name 'captcha'.
  # Think about something they know about you: your name, last name, etc.
  captcha: John

# Webmentions configuration.
webmentions:
  # Webmention.io (https://webmention.io) secret for incoming webmentions.
  secret: MySecret

# Optional Micropub configuration. Disabled otherwise.
micropub:
  # Allowed Micropub properties. An incoming request will be refused if unknown
  # properties are included. The following properties are always allowed: published,
  # updated, content, name, summary, post-status, category.
  properties:
    - syndication
    - bookmark-of
  # Supported post types. All supported if not set.
  postTypes:
    - type: bookmark
      name: Bookmark

# Notifications configuration.
notifications:
  # Telegram (https://core.telegram.org) credentials for notifications.
  telegram:
    token: TelegramToken
    chatId: TelegramChat

# Media configuration
media:
  storage:
    # Filesystem integration for testing purposes.
    filesystem:
      directory: ./testing/storage
      base: http://localhost:8045

    # BunnyCDN (https://bunny.net) credentials for production.
    bunny:
      zone: someBunnyZone
      key: someBunnySecret
      base: someBunnyBase

  transformer:
    # ImgProxy (https://imgproxy.net/) integration for image resizing.
    imgproxy:
      # Temporary directory shared between Eagle and ImgProxy
      directory:
      # ImgProxy endpoint
      endpoint:

# Optional Meilisearch (https://www.meilisearch.com/) endpoint for search.
meilisearch:
  endpoint: myUrl
  key: myKey

plugins:
  # Optional Miniflux (https://miniflux.app) integration for blogroll data generation.
  # Runs every day automatically, can be triggered through dashboard.
  miniflux:
    endpoint: myUrl
    key: myKey
    filename: data/feeds.json
    opml: data/feeds.opml # optional

  # Optional Linkding (https://github.com/sissbruecker/linkding) integration for bookmarks.
  # Runs every day automatically, can be triggered through dashboard.
  linkding:
    endpoint: myUrl
    key: myKey
    filename: data/bookmarks.json

  # Optional plugin to serve /.well-known/links, as well as save a data file with them.
  # Runs every day automatically, can be triggered through dashboard.
  external-links:
    filename: "data/external-links.json"
    ignored: ['domain.com', 'example.com']

  # Optional Mastodon integration for post syndication.
  mastodon:
    server: yourServerUrl
    clientKey: yourClientKey
    clientSecret: yourClientSecret
    accessToken: yourAccessToken
    # Maximum allowed characters per post
    maximumCharacters: 500
    # Maximum allowed photos per post
    maximumPhotos: 5

  # Optional Bluesky and Standard.site integration for post syndication.
  atproto:
    identifier: yourUsernameIdentifier
    password: yourAppSpecificPassword

    # Standard.site publication record key.
    publicationRecordKey: yourPublicationRecordKey

  # Optional IndieNews integration for post syndication.
  indienews:
    language: en

  # Optional WebArchive integration.
  webarchive:
    # Which fields should be archived. It is either a string with @all or
    # an array with the list of fields. @all is equivalent to [bookmark-of].
    fields: "@all"

  # Optional Locations plugin.
  locations:
    # Tries to expand the "location" property into a more detailed object.
    expand: true
