<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 Not Found</title>

  <style>
  body {
    font-family: sans-serif;
    background-color: #3867d6;
    color: white;
    margin: 0;
    padding: 0;
  }

  div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
  }

  a {
    cursor: pointer;
    color: white;
  }
  </style>
</head>
<body>
  <div>
    <h1>🙃 404 Not Found</h1>
    <a href="https://hacdias.com">go to hacdias.com →</a>
  </div>
</body>
</html>
