.eagle-menu {
  background: #2980b9;
  width: 100%;
  display: block;
  color: white;
}

.eagle-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #2980b9;
}

.eagle-menu li {
  margin: 0;
}

.eagle-menu li .fancy {
  font-weight: 900;
  font-style: italic;
}

.eagle-menu summary,
.eagle-menu a {
  line-height: 1;
  padding: 1rem;
  color: white;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.eagle-menu a {
  display: inline-block;
}

.eagle-menu a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.eagle-menu.fixed {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
}

.eagle-menu.fixed ul {
  width: calc(100% - 2rem);
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
}

.eagle-menu.fixed ul li:first-of-type {
  margin-left: -1rem;
}

.eagle-menu.fixed ul li:last-of-type {
  margin-left: auto;
}