* {
  box-sizing: border-box;
}

:root {
  --blue: #2980b9;
  --blue-darker: #19608f;
  --red: #c0392b;
  --black: #111;
  --dark-gray: #333;
  --light-white: #ddd;
  --near-white: #f4f4f4;
  --white: #ffffff;
}

a {
  color: var(--black);
}

.nl {
  text-decoration: none;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  color: var(--black);
}

main {
  width: calc(100% - 2rem);
  max-width: 60rem;
  margin: 0 auto;
}

form,
textarea,
input,
button,
.inline {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

textarea {
  resize: vertical;
  min-height: 40rem;
  font-family: 'Fira Code', monospace;
}

.cm-editor .cm-scroller {
  font-family: Fira Code, monospace  !important;
}

.cm-editor .cm-gutters {
  display: none;
}

.cm-editor,
input,
textarea {
  padding: .5rem;
  border: 1px solid var(--light-white);
  outline: 0;
  border-radius: 0;
  background: var(--white);
  color: var(--dark-gray);
}

button,
input[type="submit"] {
  background-color: var(--black);
  border: 1px solid var(--black);
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0;
  outline: 0;
}

button:hover,
input[type="submit"]:hover {
  background-color: var(--dark-gray);
  border-color: var(--dark-gray);
}

textarea:read-only,
input:read-only {
  background: var(--near-white);
}

label {
  font-weight: bold;
}

.inline  * {
  display: inline;
  width: auto;
}

pre {
  white-space: break-spaces;
}

.inline-form {
  display:flex;
}

.inline-form input:first-of-type {
  flex-grow: 1;
}

.inline > *,
.inline-form > * {
  margin: 0;
}

.inline-form > *:last-child {
  margin-left: 1rem;
  max-width: 10rem;
}

#message {
  background: var(--blue);
  color: var(--white);
  padding: .5rem;
}

#login {
  max-width: 20rem;
  width: 90%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

#login h1 {
  text-align: center;
  color: var(--blue);
  font-style: italic;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 0;
}

#nextprev {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

#nextprev button {
  margin: 0;
}

#nextprev > *:last-child {
  margin-left: auto;
}

table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  margin: 1rem 0;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid var(--light-white);;
}

table tr {
  background-color: var(--white);
  border-top: 1px solid var(--light-white);;
}

table tr:nth-child(2n) {
  background-color: var(--near-white);
}

table#posts span {
  font-weight: bold;
}

table#posts td:last-child {
  text-align: right;
  width: 7.5rem;
}

table#posts div {
  display: flex;
  justify-content: space-between;
}

.eagle-menu:not(.fixed) {
  margin: 1rem 0;
}

.eagle-menu summary {
  font-weight: bold;
  background-color: var(--blue-darker);
}

@media screen and (max-width: 38rem) {
  .inline-form,
  .inline-form input {
    display: block;
    width: 100%
  }

  .inline-form > *:last-child {
    margin: 1rem 0 0 0;
    max-width: 100%;
  }
}
