<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head" . -}}
</head>
<body>
  <div class='container'>
    {{ partial "header" . }}

    {{- if not (eq .Section "darkroom") }}
      {{ partial "navbar" . }}
    {{- end }}

    {{ block "main" . -}}{{ end }}

    {{- if not (eq .Section "darkroom") }}
      {{ partial "footer" . -}}
    {{- end }}
  </div>

  {{ $js := resources.Get "js/vendor/twemoji.min.js" }}
  {{ $secureJS := $js | resources.Fingerprint "sha512" }}
  <script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
  <script>
    twemoji.parse(document.body, {
      base: 'https://cdn.hacdias.com/emojis/13.0.0/',
      folder: 'svg',
      ext: '.svg'
    });

    {{ if .Params.math }}
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      }
    };
    {{ end }}
  </script>
  {{ if .Params.math }}
    <script async src="https://cdn.hacdias.com/mathjax/3.1.2/tex-chtml.js"></script>
  {{ end }}
</body>
</html>
