:root {
  --background: #fffcf2;
  --input-background: white;
  --text: #272727;
  --accent: #000000;
  --accent-text: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212121;
    --input-background: #000;
    --text: #FDFCFA;
    --accent: #fffcf2;
    --accent-text: black;
  }
}

* {
  box-sizing: border-box;
}

body {
  width: 95%;
  max-width: 45rem;
  margin: 0 auto;
  background: var(--background);
  color: var(--text);
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  margin-bottom: 3rem;
}

a {
  color: inherit;
}

nav {
  display: flex;
  margin: 1rem 0 3rem;
}

nav > a {
  margin-right: 0.5rem;
  padding: 0.25rem;
  display: block;
  border: 1px solid var(--accent);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--accent);
  font-weight: bold;
}

nav > a:last-of-type {
  margin-right: 0;
  margin-left: auto;
}

nav > a[aria-current="page"] {
  background: var(--accent);
  color: var(--accent-text);
}

pre {
  word-break: break-all;
  white-space: break-spaces;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--accent);
  color: var(--accent-text);
  background: var(--accent);
}

input,
select,
textarea,
button {
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
  border: 1px solid var(--accent);
  border-radius: 5px;
  color: var(--text);
  background: var(--background);
  outline: 0;
  min-width: 0;
}

input,
select,
textarea {
  background: var(--input-background);
}

input:focus,
select:focus,
textarea:focus {
  border-color: blue;
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
  background: var(--accent);
  color: var(--accent-text);
  font-weight: bold;
  font-size: 0.9rem;
  width: auto;
  margin-left: auto;
}

button:hover {
  outline-offset: 1px;
  outline: 2px solid var(--accent);
}

fieldset,
.options-list {
  margin: 1rem 0;
}

fieldset {
  border: 1px dotted var(--accent);
  border-radius: 5px;
  padding: 0.5rem;
}

fieldset fieldset {
  margin: 0.5rem 0;
}

legend {
  color: var(--accent);
  padding: 0 0.25rem;
  font-weight: bold;
}

ol.options-list,
ul.options-list {
  list-style: none;
  padding-left: 1rem;
}

.options-list label {
  display: block;
  margin: 0.5rem 0;
}

.options-list label input {
  margin: 0;
  width: auto;
  display: inline;
}

.options-list.horizontal {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  margin: 0;
}

.options-list.horizontal li {
  margin-right: 1rem;
}
