{{ define "main" }}

<main role='main'>
  <h1>{{ .Title }}</h1>

  {{ with .Content }}
    <div>{{ . }}</div>
  {{ end }}

  {{- range sort .Site.Data.bookmarks "name" -}}
  <h2 id="{{ lower .name }}">{{ .emoji }} {{ .name }}</h2>

  <ul class="h-feed">
  {{ range sort .items "name" }}
    <li class="h-entry">
      {{- with .cid }}<a alt="Pinned on IPFS" href="ipfs://{{ . }}">📌</a> {{ end -}}
      <a class="u-bookmark-of h-cite" href="{{ .url }}" rel="noopener noreferrer" target="_blank">{{ .name }}</a>
      {{- with .description }} - {{ . | markdownify }}{{ end -}}
    </li>
  {{ end }}
  </ul>
  {{- end -}}
</main>

{{ end }}
