{{ template "_header.html" . }}
{{ template "_navigation.html" "browser" }}

<h2>Browsing <code>{{ .Path }}</code></h2>

{{ if ne .Path "/" }}
  <p><a href="../">↵ Back</a></p>
{{ end }}

{{ range .Files }}
  <p><a href="{{ .Name }}">{{ .Name }}</a></p>
{{ end }}

<h3>New Directory</h3>

<form method='post'>
  <input required type='text' name='dirname' placeholder='Directory name...' />
  <button>Create</button>
</form>

<h3>New File</h3>

<form method='post'>
  <input required type='text' name='filename' placeholder='File name...' />
  <button>Create</button>
</form>

{{ template "_footer.html" . }}
