{{ template "_header.html" . }}
{{ template "_navigation.html" "panel" }}

<h2>Quick Actions</h2>

<div style='display: grid; grid-gap: 0.5rem; grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));'>
{{ range .Actions }}
  <form method=POST>
    <input type='hidden' name='action' value='{{ . }}' />
    <button style='width: 100%; height: 100%; margin: 0'>{{ . }}</button>
  </form>
{{ end }}
</div>

{{ if eq .Success "action" }}
  <p>
    <strong>✅ Success!</strong>
  </p>
{{ end }}

<h2>Upload File</h2>

<form method='POST' enctype='multipart/form-data'>
  <input required type='file' name='file' />
  <button>Upload</button>
</form>

{{ with .MediaLocation }}
  <pre>{{ . }}</pre>
{{ else with .MediaPhoto }}
  <pre>![]({{ .URL }}{{ with .Title }} "{{ . }}"{{ end }}){{ if .Width }}
{width="{{ .Width }}" height="{{ .Height }}"}{{end }}</pre>

  <pre>- url: "{{ .URL }}"{{ with .Title }}
  title: {{ . }}{{ end }}{{ if .Width }}
  width: {{ .Width }}
  height: {{ .Height }}{{end }}</pre>
{{ end }}

{{ template "_footer.html" . }}
