{{ template "_header.html" . }}
{{ template "_navigation.html" "tokens" }}

<h2>Sessions</h2>

{{ if .Sessions }}
  <form method='post'>
    <input type='hidden' name='action' value='revoke-all' />
    <input type='hidden' name='type' value='session' />
    <button>Revoke All Sessions</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Created</th>
        <th>Expires</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Sessions }}
      <tr>
        <td>{{ .Created.Format "2006-01-02" }}</td>
        <td>{{ if .Expiry.IsZero }}Never{{ else }}{{ .Expiry.Format "2006-01-02" }}{{ end }}</td>
        <td>
          <form method='post'>
            <input type='hidden' name='action' value='revoke' />
            <input type='hidden' name='id' value='{{ .ID }}' />
            <button>Revoke</button>
          </form>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ else }}
  <p>No active sessions.</p>
{{ end }}

<h2>IndieAuth Tokens</h2>

<a href='/panel/tokens/new'>New Token</a>

{{ if .Tokens }}
  <form method='post'>
    <input type='hidden' name='action' value='revoke-all' />
    <input type='hidden' name='type' value='access' />
    <button>Revoke All Tokens</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Scope</th>
        <th>Created</th>
        <th>Expires</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .Tokens }}
      <tr>
        <td>{{ .ClientID }}</td>
        <td>{{ .Scope }}</td>
        <td>{{ .Created.Format "2006-01-02" }}</td>
        <td>{{ if .Expiry.IsZero }}Never{{ else }}{{ .Expiry.Format "2006-01-02" }}{{ end }}</td>
        <td>
          <form method='post'>
            <input type='hidden' name='action' value='revoke' />
            <input type='hidden' name='id' value='{{ .ID }}' />
            <button>Revoke</button>
          </form>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ else }}
  <p>No active tokens.</p>
{{ end }}


<h2>Refresh Tokens</h2>

{{ if .RefreshTokens }}
  <form method='post'>
    <input type='hidden' name='action' value='revoke-all' />
    <input type='hidden' name='type' value='refresh' />
    <button>Revoke All Refresh Tokens</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Scope</th>
        <th>Created</th>
        <th>Expires</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{ range .RefreshTokens }}
      <tr>
        <td>{{ .ClientID }}</td>
        <td>{{ .Scope }}</td>
        <td>{{ .Created.Format "2006-01-02" }}</td>
        <td>{{ if .Expiry.IsZero }}Never{{ else }}{{ .Expiry.Format "2006-01-02" }}{{ end }}</td>
        <td>
          <form method='post'>
            <input type='hidden' name='action' value='revoke' />
            <input type='hidden' name='id' value='{{ .ID }}' />
            <button>Revoke</button>
          </form>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
{{ else }}
  <p>No active refresh tokens.</p>
{{ end }}

{{ template "_footer.html" . }}
