{{ define "main" }}

<main role='main' class='copy'>
  {{ template "post" . }}

  {{/* $data := (dict "Glob" . "Mode" "single") */}}
  {{/*  partial "post" $data */}}
</main>

{{ end }}

{{ template "base" . }}
