<footer id='footer'>
  <div>
    <div style="margin-right: auto">
      &copy; Henrique Dias <a href="/legal">(legal)</a>
    </div>

    <div>
      <a title="IndieWeb Webring (Previous)" class="no-link" target="_blank" rel="noreferrer noopener" href="https://xn--sr8hvo.ws/%F0%9F%91%99%F0%9F%88%B6%F0%9F%98%BD/previous">←</a>
      🕸💍
      <a title="IndieWeb Webring (Next) "class="no-link" target="_blank" rel="noreferrer noopener" href="https://xn--sr8hvo.ws/%F0%9F%91%99%F0%9F%88%B6%F0%9F%98%BD/next">→</a>
    </div>
  </div>

  <div style="margin-top: 0.5rem">
    <div>
      <a href="https://indieweb.org/" class="no-link" target="_blank" rel="noreferrer noopener"><img alt="IndieWeb" class="pixelated" src="/images/indieweb.png"></a>
      <a href="https://microformats.org/" class="no-link" target="_blank" rel="noreferrer noopener"><img alt="Microformats" class="pixelated" src="/images/microformats.png"></a>
      <a href="https://indieweb.org/Webmention" class="no-link" target="_blank" rel="noreferrer noopener"><img alt="Webmentions" class="pixelated" src="/images/webmention.png"></a>
    </div>
    <div style="margin-left: auto">🇵🇹🇪🇺🏳️‍🌈</div>
  </div>
</footer>
