{{ $isList := eq .Mode "list" -}}
{{ with .Glob }}
{{ $useSummary := false }}
<article class='h-entry'>
  {{ if not (in (slice "micro" "darkroom") .Section) }}
    {{ $useSummary = $isList }}
  {{ end }}

  {{ if .Title }}
  <header>
    <h1 class='p-name'>
      {{ if $isList }}<a href="{{ .RelPermalink }}" class='no-link'>{{ end }}
      {{- .Title -}}
      {{ if $isList }}</a>{{ end }}
    </h1>
  </header>
  {{ end }}

  {{ if .Params.properties }}
    {{ if isset .Params.properties "in-reply-to" }}
      {{ $url := index .Params.properties "in-reply-to" }}
      {{ $dataToShow := index .Site.Data.xray (sha256 $url) }}
      {{ if eq $dataToShow.type "entry" }}
        {{ partial "embedded-entry"  (dict "Wm" $dataToShow "Class" "u-in-reply-to") }}
      {{ else }}
        <p class='copy content e-entry bar'>
          <a href="{{ $url }}" rel='noopener noreferrer' target='_blank' class="u-in-reply-to">
            {{- with .Title }}{{ . }}{{ else }}{{ $url}}{{ end -}}
          </a>
        </p>
      {{ end}}
    {{ end }}
  {{ end }}

  {{ partial "darkroom/full-figures" . }}

  {{ if $useSummary}}
    <div class='content copy p-summary'><p>{{ .Summary }}</p></div>
  {{ else }}
    {{ with .Content }}
      <div class='content copy e-content {{ if not $.Glob.Page.Title }}p-name{{ end }}'>{{ . }}</div>
    {{ end }}
  {{ end }}

  <footer class='footer'>
    <span>
      {{- if .Lastmod.After .Date -}}
        <time class='dt-updated' datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
          <a href="{{ .RelPermalink }}" class="u-url no-link">{{ .Lastmod.Format "2 Jan 2006" }}</a>
        </time>
        <time class='dt-published dn' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "2 Jan 2006" }}</time>
      {{- else if not .Date.IsZero -}}
        <time class='dt-published' datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>
          <a href="{{ .RelPermalink }}" class="u-url no-link">{{ .Date.Format "2 Jan 2006" }}</a>
        </time>
      {{- end -}}
      {{- with .Section -}}
        {{- with $.Glob.Site.GetPage (printf "/%s" .) -}}
          in <a href="{{ .RelPermalink }}">{{ with .Params.emoji }}{{ . }}{{ end }} {{ .Title }}</a></span>
        {{- end -}}
      {{- end -}}
    </span>

    {{ if $isList }}
      <a class="more" href="{{ .RelPermalink }}">{{ if $useSummary }}Read more{{ else }}Comment{{ end }} →</a>
    {{ else }}
      {{ if .Params.tags }}
      <ul>
        {{ range $i, $tag := .Params.tags -}}
        {{ with $.Glob.Site.GetPage (printf "/tags/%s" $tag) -}}
          <li><a class="p-category" href="{{ .RelPermalink }}">#{{ $tag }}</a></li>
        {{ end -}}
        {{ end -}}
      </ul>
      {{ end }}
    {{ end }}


    {{ with .Params.properties.syndication -}}
      {{ $arr := partial "must-slice" . }}
      {{ range $arr -}}
        <a class='dn u-syndication' rel="noopener noreferrer" target="_blank" href="{{ . }}">{{ . }}</a>
      {{ end -}}
    {{ end -}}

    <!-- Author metadata -->
    <div class="h-card u-author dn">
      <data class='u-photo' value="{{ .Site.Author.avatar }}">Picture</data>
      <a href="{{ .Site.Author.url }}" class="u-url p-name">{{ .Site.Author.name }}</a>
    </div>
  </footer>

  {{ if not (or $isList .Params.hideMentions) -}}
    {{ partial "webmention" . -}}
  {{ end }}
</article>
{{ end }}