{{ define "bar" }}
<link rel="stylesheet" href="{{ .BasePath }}/css/bar.css">

<div class="eagle-menu fixed">
  <ul>
    <li><a title="Dashboard" href="{{ .BasePath }}/" class="fancy">Dsh</a></li>
    <li><a title="Home" href="/" class="fancy">Hm</a></li>
    <li><a href="{{ .BasePath }}/new">+</a></li>

    <li><a title="Edit" href="{{ .BasePath }}/edit?url={{ .ID }}">e</a></li>
    <li><a title="Delete" href="{{ .BasePath }}/delete?url={{ .ID }}">d</a></li>

    <li>{{ if .HasAuth }}<a title="Logout" href="/logout">Logout</a>{{ end }}</li>
  </ul>
</div>

{{ end }}

{{ template "bar" . }}