{{ define "base" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=x-ua-compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#2980b9">
    <link rel="icon" type="image/x-icon" href="{{ .BasePath }}/favicon.ico">

    <title>{{ template "title" . }}</title>
    <link rel="stylesheet" href="{{ .BasePath }}/css/normalize.css">
    <link rel="stylesheet" href="{{ .BasePath }}/css/styles.css">
    <link rel="stylesheet" href="{{ .BasePath }}/css/bar.css">
  </head>
  <body>
    {{ if not .IsLogin }}
    <div class="eagle-menu fixed">
      <ul>
        <li><a title="Dashboard" href="{{ .BasePath }}/" class="fancy">Dsh</a></li>
        <li><a title="Home" href="/" class="fancy">Hm</a></li>
        <li><a title="New" href="{{ .BasePath }}/new">+</a></li>

        <li>{{ if .HasAuth }}<a title="Logout" href="/logout">Logout</a>{{ end }}</li>
      </ul>
    </div>
    {{ end }}

    <main>{{ template "main" . }}</main>
  </body>
</html>
{{ end }}

{{ define "new-form" }}
<form method=POST action="{{ .BasePath }}/new">
  <input required name=id id=id type=text value="{{ .ID }}" />
  <textarea required id=content name=content>{{ .Content }}</textarea>
  <div id="editor"></div>

  <div class=inline>
    <input type=checkbox name=twitter id=twitter />
    <label for=twitter>Publish on Twitter</label>
  </div>

  <input required type=hidden id=action name=action value=create />
  <input required hidden name=defaultid id=defaultid type=text value="{{ .ID }}" />
  <button>Create</button>
</form>

<script src="{{ .BasePath }}/js/editor.bundle.js"></script>
{{ end }}
