{{ define "main" }}
  <h2>Dashboard</h2>

  {{ with .Content }}<p id=message>{{ . }}</p>{{ end }}

  <div id=actions>
    <form method=POST>
      <input required type=hidden name=sync value=true />
      <button>Sync</button>
    </form>

    <form method=POST>
      <input required type=hidden name=build value=true />
      <button>Build</button>
    </form>

    <form method=POST>
      <input required type=hidden name=build value=true />
      <input required type=hidden name=mode value=clean />
      <button>Build Clean</button>
    </form>

    <form method=POST>
      <input required type=hidden name=rebuild-index value=true />
      <button>Rebuild Index</button>
    </form>
  </div>

  <form method=POST class=inline-form>
    <input required name=reshare type=text placeholder='URL to reshare Webmentions...' />
    <button>ReShare</button>
  </form>

  {{ with .DraftsList }}
  <h2>Drafts</h2>

  <ul>
    {{ range . }}
      <li><a href="{{ $.Base }}/edit?url={{ .id }}">{{ .title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
{{ end }}

{{ define "title" }}Dashboard{{ end }}

{{ template "base" . }}
