{{ define "main" }}
  {{ if .Data }}
    <h2>{{ or .Data.Entry.Metadata.Title .Data.Entry.ID }}</h2>

    <style>
    .menu {
      display: flex;
    }

    .menu button {
      margin: 0;
      width: auto;
      margin-left: 1rem;
    }

    .menu button:first-of-type {
      margin-right: auto;
      margin-left: 0;
    }
    </style>

    <a class="nl" title="Webmentions" href="{{ .BasePath }}/webmentions{{ .Data.Entry.ID }}"><button>Webmentions</button></a>

    <form method=POST action="{{ .BasePath }}/edit">
      <input required readonly name=id id=id type=hidden value="{{ .Data.Entry.ID }}" />

      <textarea required id=content name=content data-lang=markdown>{{ .Data.Content }}</textarea>
      <div id="editor"></div>

      <div class=inline>
        <input type=checkbox name=lastmod id=lastmod {{ if not .Data.Entry.Metadata.Date.IsZero }}checked{{end }} />
        <label for=lastmod>Update Modification Date</label>
      </div>

      {{ if .Data.Entry.Metadata.Draft }}
      <div class=inline>
        <input type=checkbox name=twitter id=twitter />
        <label for=twitter>Publish on Twitter</label>
      </div>
      {{ end }}

      <div class="menu">
        {{ if .Data.Entry.Deleted }}
          <button type="submit" name="action" value="undelete" class="green">Undelete</button>
        {{ else }}
          <button type="submit" name="action" value="delete" class="red">Delete</button>
        {{ end }}
        {{ if .Data.Entry.Metadata.Draft }}
          <button type="submit" name="action" value="publish"class="green">Publish</button>
        {{ end }}
        <button type="submit" name="action" value="update">Update</button>
      </div>
    </form>

    <script src="{{ .BasePath }}/js/editor.bundle.js"></script>
  {{ else }}
    <h2>Edit Post</h2>

    <form method=GET class=inline-form>
      <input required name=url id=url type=text placeholder='URL...' />
      <button>Edit</button>
    </form>
  {{ end }}
{{ end }}

{{ define "title" }}Edit Post{{ end }}

{{ template "base" . }}
