{{ define "main" }}
  <h2>Edit File</h2>

  {{ if .Content }}
    <form method=POST action="/gedit">
      <input required readonly name=path id=path type=text value="{{ .ID }}" />

      <textarea required id=content name=content>{{ .Content }}</textarea>
      <div id="editor"></div>

      <input required type=hidden id=action name=action value=update />
      <button>Save</button>
    </form>

    <script src="/js/editor.bundle.js"></script>
  {{ else }}
    <form method=GET class=inline-form>
      <input required name=path id=path type=text placeholder='File path...' />
      <button>Edit</button>
    </form>
  {{ end }}
{{ end }}

{{ define "title" }}Edit File{{ end }}

{{ template "base" . }}
