{{ define "main" }}
  <div class="eagle-menu">
    <ul>
      <li><a title="New" href="{{ .BasePath }}/new">New</a></li>
      <li><a title="Reply" href="{{ .BasePath }}/reply">Reply</a></li>
    </ul>
  </div>

  <details class="eagle-menu">
    <summary>More</summary>

    <ul>
      <li><a title="Edit" href="{{ .BasePath }}/edit">Edit</a></li>
      <li><a title="Delete" href="{{ .BasePath }}/delete">Delete</a></li>
      <li><a title="Resend Webmentions" href="{{ .BasePath }}/webmentions">Resend Webmentions</a></li>
    </ul>
  </details>

  <details class="eagle-menu">
    <summary>Tools</summary>

    <ul>
      <li><a title="Sync" href="{{ .BasePath }}/sync">Sync</a></li>
      <li><a title="Build" href="{{ .BasePath }}/build">Build</a></li>
      <li><a title="Clean Build" href="{{ .BasePath }}/build?mode=clean">Clean Build</a></li>
      <li><a title="Reset Index" href="{{ .BasePath }}/rebuild-index">Rebuild Index</a></li>
      <li><a title="Regenerate Blogroll" href="{{ .BasePath }}/blogroll">Regenerate Blogroll</a></li>
    </ul>
  </details>

  <h2>Posts</h2>

  <form method=GET>
    <div class=inline>
      <input type=checkbox name=drafts id=drafts {{ if .Drafts }}checked{{ end }}/>
      <label for=drafts>Drafts only</label>
    </div>

    <div class=inline-form>
      <input name=q type=text placeholder='Search posts...' {{ with .Query }}value="{{ . }}"{{ end }}/>
      <button>Search</button>
    </div>
  </form>

  <table id=posts>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>

    {{ range .Entries }}
      <tr>
        <td>
          {{ if .Draft }}<span>*</span>{{ else if .Deleted }}<span>-</span>{{ end }}
          {{ if and (not .Draft) (not .Deleted) }}<a href="{{ .Permalink }}" target="_blank">{{ end }}
            {{ or .Title .ID }}
          {{ if and (not .Draft) (not .Deleted) }}</a>{{ end }}
        </td>
        <td>
          <div>
            <a class="nl" title="Edit" href="{{ $.BasePath }}/edit?url={{ .ID }}">✏️</a>
            {{ if and (not .Draft) (not .Deleted) }}
              <a class="nl" title="Delete" href="{{ $.BasePath }}/delete?url={{ .ID }}">❌</a>
              <a class="nl" title="Webmentions" href="{{ $.BasePath }}/webmentions?url={{ .ID }}">👥</a>
            {{ end }}
          </div>
        </td>
      </tr>
    {{ end }}
  </table>

  <div id=nextprev>
    {{ with .PreviousPage }}<a href="{{ . }}"><button>Previous</button></a>{{ end }}
    {{ with .NextPage }}<a href="{{ . }}"><button>Next</button></a>{{ end }}
  </div>
{{ end }}

{{ define "title" }}Eagle{{ end }}

{{ template "base" . }}
