{{ define "main" }}
  <h2>Quick</h2>

  <div id=actions>
    <form method=POST>
      <input required type=hidden name=sync value=true />
      <button>Sync</button>
    </form>

    <form method=POST>
      <input required type=hidden name=build value=true />
      <button>Build</button>
    </form>

    <form method=POST>
      <input required type=hidden name=build value=true />
      <input required type=hidden name=mode value=clean />
      <button>Build Clean</button>
    </form>

    <form method=POST>
      <input required type=hidden name=rebuild-index value=true />
      <button>Build Index</button>
    </form>

    <a class="nl" href="/blogroll">
      <button>Blogroll</button>
    </a>

    <a class="nl" href="/new">
      <button>New</button>
    </a>

    <a class="nl" href="/reply">
      <button>Reply</button>
    </a>

    <a class="nl" href="/edit">
      <button>Edit</button>
    </a>

    <a class="nl" href="/delete">
      <button>Delete</button>
    </a>

    <a class="nl" href="/reshare">
      <button>ReShare</button>
    </a>
  </div>

  <h2>Posts</h2>

  <form method=GET>
    <div class=inline>
      <input type=checkbox name=drafts id=drafts {{ if .Drafts }}checked{{ end }}/>
      <label for=drafts>Drafts only</label>
    </div>

    <div class=inline-form>
      <input name=q type=text placeholder='Search posts...' {{ with .Query }}value="{{ . }}"{{ end }}/>
      <button>Search</button>
    </div>
  </form>

  <table id=posts>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>

    {{ range .Entries }}
      <tr>
        <td>
          {{ if .Draft }}<span>*</span>{{ else if .Deleted }}<span>-</span>{{ end }}
          {{ if and (not .Draft) (not .Deleted) }}<a href="{{ .Permalink }}" target="_blank">{{ end }}
            {{ or .Title .ID }}
          {{ if and (not .Draft) (not .Deleted) }}</a>{{ end }}
        </td>
        <td>
          <div>
            <a class="nl" title="Edit" href="/edit?url={{ .ID }}">✏️</a>
            {{ if and (not .Draft) (not .Deleted) }}
              <a class="nl" title="Delete" href="/delete?url={{ .ID }}">❌</a>
              <a class="nl" title="ReShare" href="/reshare?url={{ .ID }}">👥</a>
            {{ end }}
          </div>
        </td>
      </tr>
    {{ end }}
  </table>

  <div id=nextprev>
    {{ with .PreviousPage }}<a href="{{ . }}"><button>Previous</button></a>{{ end }}
    {{ with .NextPage }}<a href="{{ . }}"><button>Next</button></a>{{ end }}
  </div>
{{ end }}

{{ define "title" }}Eagle{{ end }}

{{ template "base" . }}
