{{ define "main" }}
  <div class="eagle-menu">
    <ul>
      <li><a title="New" href="{{ .BasePath }}/new">New</a></li>
      <li><a title="Reply" href="{{ .BasePath }}/reply">Reply</a></li>
    </ul>
  </div>

  <details class="eagle-menu">
    <summary>Tools</summary>

    <ul>
      <li><a title="Sync" href="{{ .BasePath }}/sync">Sync</a></li>
      <li><a title="Build" href="{{ .BasePath }}/build">Build</a></li>
      <li><a title="Clean Build" href="{{ .BasePath }}/build?mode=clean">Clean Build</a></li>
      <li><a title="Reset Index" href="{{ .BasePath }}/rebuild-index">Rebuild Index</a></li>
      <li><a title="Regenerate Blogroll" href="{{ .BasePath }}/blogroll">Regenerate Blogroll</a></li>
    </ul>
  </details>

  <h2>Posts</h2>

  <form method=GET>
    <div class=inline>
      <input type=checkbox name=drafts id=drafts {{ if .Data.Drafts }}checked{{ end }}/>
      <label for=drafts>Drafts only</label>
    </div>

    <div class=inline-form>
      <input name=q type=text placeholder='Search posts...' {{ with .Data.Query }}value="{{ . }}"{{ end }}/>
      <button>Search</button>
    </div>
  </form>

  <table id=posts>
    <tr>
      <th>Post</th>
    </tr>

    {{ range .Data.Entries }}
      <tr>
        <td>
          {{ if .Draft }}<span>*</span>{{ else if .Deleted }}<span>-</span>{{ end }}
          <a href="{{ $.BasePath }}/edit{{ .ID }}">{{ or .Title .ID }}</a>
          {{ if and (not .Draft) (not .Deleted) }}<a href="{{ .Permalink }}" target="_blank">🔗</a>{{ end }}
        </td>
      </tr>
    {{ end }}
  </table>

  <div id=nextprev>
    {{ with .Data.PreviousPage }}<a class="nl" href="{{ . }}"><button>Previous</button></a>{{ end }}
    {{ with .Data.NextPage }}<a class="nl" href="{{ . }}"><button>Next</button></a>{{ end }}
  </div>
{{ end }}

{{ define "title" }}Eagle{{ end }}

{{ template "base" . }}
